.app {
  height: 100vh;
  width: 100vw;
}

#nav {
  width: 100%;
  height: 10%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999
}

.container-left {
  width: 50%;
  padding: 1rem;
  display: flex;
  align-items: center;
}

#links-list {
  display: flex;
  justify-content: space-evenly;
}

/* 
==============
Dropdown
==============
*/

#links-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 75%;
}

#links-list li {
  list-style-type: none;
  font-size: 1.25rem
}

#links-list li a {
  text-decoration: none;
  color: black;
  position: relative
}

.dropdown {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  border-radius: 12px;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1);
  }
}

.dropdown a {
  color: rgba(100, 100, 100, 0.75);
  margin-bottom: 10px;
  font-weight: bold
}

#links-list li:hover > .dropdown {
  visibility: visible;
}

/* 
==============
Dropdown
==============
*/  
  
.container-left span {
  margin-right: 5rem;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-left a {
  margin-right: 1rem
}

.container-right {
  padding: 1rem;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.nav-btn {
  margin: 2rem;
  height: 3.5rem;
  width: 7rem;
  border-radius: 30px;
  font-size: 1.5rem;
  background: none;
  cursor: pointer;
}

.login {
  border: none;
}

.register {
  border: 2px solid black;
}

#main {
  height: 100%;
  width: 100%;
  display: flex
}

#main-left-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content-container {
  height: 75%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content-container h1 {
  font-size: 5rem
}

#content-container p {
  font-size: 1rem;
  color: rgba(100, 100, 100, 0.75);
  margin-bottom:2rem
}

#content-container h1 {
  font-size: 5rem
}

#content-container button {
  height: 3rem;
  width: 8rem;
  border-radius: 30px;
  background: none;
  cursor: pointer;
}

#main-right-container {
  width: 50%;
  height: 100%;
  display: flex; 
  justify-content: center;
  align-items: center;
}

#main-right-container img {
  max-height: 100%;
  height: 90%;
}

@media screen and (max-width: 768px) {
  .app {
    min-height: 100vh;
    width: 100vw;
    overflow-y: scroll;
  }

  #nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
  }

  .container-left {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%
  }

  #links-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px
  }

  .container-right :nth-child(1) {
    margin-bottom: 0
  }

  #main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #main-left-container  {
    width: 100%
  }

  #content-container h1, p {
    text-align: center;
    margin-bottom: 5px;
  }

  #main-right-container {
    width: 100%;
  }

  #main-right-container img {
    max-width: 100%
  }
}